<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="MODE" value="HASH" />
    <add key="PATH" value="E:\TMP\0902\" />
    <add key="PATH_TARGET" value="E:\TMP\0902\0823\5_BNBs_Database" />
    <add key="PATH_SOURCE" value="E:\TMP\0902\0809\5_BNBs_Database" />
    <add key="m_is1Except2_Open" value="1" />
    <add key="m_is2Except1_Open" value="1" />
  </appSettings>
</configuration>